@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: white;
    font-family: Kosugi Maru;
    font-weight: lighter;
}
a{
    text-decoration: none;
}
@media all and (min-width:850px){
    div.header{
        text-align: center;
        font-size: 40px;
    }
    div.header h2{
        font-weight: lighter;
        color: rgb(63, 61, 61);
        letter-spacing: 5px;
    }
    div.navbar{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        letter-spacing: 2px;
    }
    div.navbar a{
        color: rgb(83, 81, 81);
    }
    i{
        color: rgb(83, 81, 81);
    }
    input{
        border: none;
        outline: none;
    }
    div.search{
        margin-left: 50px;
    }
    div.cart{
        margin-right: 50px;
    }
    div.shop{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.shop:hover{
        border-bottom: 1px solid red;
        line-height: 2px;
    }
    div.contact{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.contact:hover{
        border-bottom: 1px solid red;
        line-height: 2px;
    }
    div.bars{
        display: none;
    }


    
    div.landingpage{
        margin-top: 50px;
        position: relative;
    }
    #img1{
        width: 100%;
        height: 600px;
    }
    div.newcollection{
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
    }
    div.newcollection h2{
        font-weight: lighter;
        font-size: 50px;
        color: white;
        letter-spacing: 3px;
    }
    div.shopnow{
        position: absolute;
        left: 50%;
        top: 60%;
        translate: -50%;
    }
    div.shopnow a{
        background-color: transparent;
        color: white;
        font-size: 15px;
        letter-spacing: 3px;
        border: 1px solid white;
        padding: 15px 25px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.shopnow a:hover{
        background-color: white;
        color: black;
    }
    
    div.content1{
        margin-top: 50px;
    }
    div.arrival h2{
        text-align: center;
        letter-spacing: 4px;
        font-size: 30px;
        font-weight: lighter;
        color: rgb(66, 64, 64);
    }
    div.content2{
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
    }
    #img2{
        width: 200px;
    }
    #img3{
        width: 300px;
    }
    div.iphone{
        margin-left: 30px;
    }
    div.iphone1{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.iphone1:hover{
        transform: translateY(-10px);
    }
    div.hp1{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.hp1:hover{
        transform: translateY(-10px);
    }
    div.hp{
        margin-top: 5px;
        margin-right: 30px;
    }
    #price1{
        color: rgb(94, 92, 92);
        line-height: 1.5;
        letter-spacing: 1.5px;
    }
    div.cart1{
        margin-top: 15px;
    }
    #cart1{
        color: rgb(43, 43, 43);
        border: 1px solid black;
        font-size: 15px;
        padding: 7px 100px;
        letter-spacing: 1px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    #cart1:hover{
        background-color: rgb(45, 43, 43);
        color: white;
    }
    #price2{
        color: rgb(94, 92, 92);
        line-height: 1.5;
        letter-spacing: 1.5px;
    }
    div.content3{
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
    }
    div.tab{
        margin-left: 30px;
        margin-top: 30px;
    }
    #img4{
        width: 300px;
    }
    div.samsung{
        margin-top: 20px;
        margin-right: 30px;
    }
    #img5{
        width: 250px;
    }
    div.tab1{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.tab1:hover{
        transform: translateY(-10px);
    }
    div.samsung1{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.samsung1:hover{
        transform: translateY(-10px);
    }
    div.price3{
        margin-top: 40px;
    }
    
    
    div.content4{
        margin-top: 60px;
    }
    div.shopall{
        text-align: center;
    }
    div.shopall a{
        color: white;
        background-color: rgb(47, 46, 46);
        border: 1px solid transparent;
        padding: 12px 30px;
        letter-spacing: 1.5px;
        font-size: 15px;
        font-weight: lighter;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.shopall a:hover{
        background-color: rgba(255, 0, 0, 0.82);
    }
    
    div.line{
        margin-top: 50px;
    }
    hr{
        opacity: 0.5;
    }
    
    div.footer1{
        margin-top: 50px;
    }
    div.footer1 h2{
        text-align: center;
        font-size: 40px;
    }
    div.footer1 h2{
        font-weight: lighter;
        color: rgb(63, 61, 61);
        letter-spacing: 5px;
    }
    div.footer2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
    }
    div.footer2 a{
        color: rgb(106, 102, 102);
        letter-spacing: 1.5px;
        line-height: 1.5;
    }
    div.firsta{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        align-items: center;
    }
    div.seconda{
        display: flex;
        flex-direction: row;
    }
    div.seconda a{
        padding: 10px;
    }
    div.thirda{
        display: flex;
        flex-direction: column;
        margin-right: 200px;
        align-items: center;
    }
    div.copy{
        margin-top: 50px;
        text-align: center;
    }
    div.copy h3{
        color: rgb(99, 95, 95);
        font-weight: lighter;
        font-size: 15px;
    }

    div.landingpage1{
        display: none;
    }
    div.social{
        display: none;
    }


    
}









@media all and (max-width:849px){
    div.header{
        display: none;
    }
    div.navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
    }
    div.search{
        display: none;
    }
    div.shop{
        display: none;
    }
    div.contact{
        display: none;
    }
    div.login{
        display: none;
    }
    div.cart{
        margin-left: 50px;
    }
    div.bars{
        margin-right: 50px;
    }
    #cart{
        font-size: 30px;
        color: rgb(71, 67, 67);
    }
    #bars{
        font-size: 30px;
        color: rgb(71, 67, 67);
    }
    div.landingpage1{
        text-align: center;
        margin-top: 40px;
    }
    div.landingpage1 h2{
        font-size: 30px;
        color: rgb(71, 70, 70);
        letter-spacing: 1.5px;
    }
    
    
    div.landingpage{
        margin-top: 50px;
        position: relative;
    }
    #img1{
        width: 100%;
        height: 400px;
    }
    div.newcollection{
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
    }
    div.newcollection h2{
        font-weight: lighter;
        font-size: 20px;
        color: white;
        letter-spacing: 2px;
    }
    div.shopnow{
        position: absolute;
        left: 50%;
        top: 60%;
        translate: -50%;
    }
    div.shopnow a{
        background-color: transparent;
        color: white;
        font-size: 15px;
        letter-spacing: 3px;
        border: 1px solid white;
        padding: 15px 25px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.shopnow a:hover{
        background-color: white;
        color: black;
    }
    
    div.content1{
        margin-top: 50px;
    }
    div.arrival h2{
        text-align: center;
        letter-spacing: 4px;
        font-size: 30px;
        font-weight: lighter;
        color: rgb(66, 64, 64);
    }
    div.content2{
        display: flex;
        margin-top: 50px;
        justify-content: space-around;
        flex-direction: column;
    }
    #img2{
        width: 200px;
    }
    #img3{
        width: 200px;
    }
    div.iphone{
        margin: 0 auto;
    }
    div.iphone1{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.iphone1:hover{
        transform: translateY(-10px);
    }
    div.hp1{
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.hp1:hover{
        transform: translateY(-10px);
    }
    div.hp{
        margin: 30px auto;
        
    }
    #price1{
        color: rgb(94, 92, 92);
        line-height: 1.5;
        letter-spacing: 1px;
        font-size: 12px;
    }
    div.cart1{
        margin-top: 30px;
    }
    #cart1{
        color: rgb(43, 43, 43);
        border: 1px solid black;
        font-size: 15px;
        padding: 15px 50px;
        letter-spacing: 1px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    #cart1:hover{
        background-color: rgb(45, 43, 43);
        color: white;
    }
    div.price2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    #price2{
        color: rgb(94, 92, 92);
        line-height: 1.5;
        letter-spacing: 1px;
    }
    div.content3{
        display: none;
    }
    div.content4{
        margin-top: 50px;
    }
    div.shopall{
        text-align: center;
    }
    div.shopall a{
        color: white;
        background-color: rgb(47, 46, 46);
        border: 1px solid transparent;
        padding: 15px 40px;
        letter-spacing: 1.5px;
        font-size: 15px;
        font-weight: lighter;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    div.shopall a:hover{
        background-color: rgba(255, 0, 0, 0.82);
    }
    
    div.line{
        margin-top: 50px;
    }
    hr{
        opacity: 0.5;
    }
    

    div.footer1{
        margin-top: 40px;
    }
    div.footer1 h2{
        text-align: center;
        font-size: 40px;
        font-weight: lighter;
        color: rgb(82, 78, 78);
        letter-spacing: 4px;
    }
    div.social{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    div.social a{
        color: rgb(106, 102, 102);
        letter-spacing: 1.5px;
        line-height: 1.5;
        padding: 10px;
        font-size: 20px;
    }
    div.footer2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 30px;
    }
    div.footer2 a{
        color: rgb(106, 102, 102);
        letter-spacing: 1.5px;
        line-height: 2;
    }
    div.firsta{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    div.seconda{
        display: none;
    }
    div.thirda{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }
    div.copy{
        margin-top: 50px;
        text-align: center;
    }
    div.copy h3{
        color: rgb(99, 95, 95);
        font-weight: lighter;
        font-size: 15px;
    }






























}
